<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mr.bom.dao.SubjectGroupMapper" >
  <resultMap id="BaseResultMap" type="com.mr.bom.dao.domain.SubjectGroup" >
    <id column="SUBJECT_GROUP_ID" property="subjectGroupId" jdbcType="VARCHAR" />
    <result column="mem_id" property="memId" jdbcType="VARCHAR" />
    <result column="mem_code" property="memCode" jdbcType="VARCHAR" />
    <result column="SUBJECT_GROUP_NAME" property="subjectGroupName" jdbcType="VARCHAR" />
    <result column="SUBJECT_GROUP_DESC" property="subjectGroupDesc" jdbcType="VARCHAR" />
    <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="LAST_MODIFY_DATE" property="lastModifyDate" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SUBJECT_GROUP_ID, mem_id, mem_code, SUBJECT_GROUP_NAME, SUBJECT_GROUP_DESC, CREATION_DATE, 
    LAST_MODIFY_DATE, creator, modified_by, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bm_subject_group
    where SUBJECT_GROUP_ID = #{subjectGroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bm_subject_group
    where SUBJECT_GROUP_ID = #{subjectGroupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mr.bom.dao.domain.SubjectGroup" >
    insert into bm_subject_group (SUBJECT_GROUP_ID, mem_id, mem_code, 
      SUBJECT_GROUP_NAME, SUBJECT_GROUP_DESC, CREATION_DATE, 
      LAST_MODIFY_DATE, creator, modified_by, 
      status)
    values (#{subjectGroupId,jdbcType=VARCHAR}, #{memId,jdbcType=VARCHAR}, #{memCode,jdbcType=VARCHAR}, 
      #{subjectGroupName,jdbcType=VARCHAR}, #{subjectGroupDesc,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{lastModifyDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifiedBy,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mr.bom.dao.domain.SubjectGroup" >
    insert into bm_subject_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjectGroupId != null" >
        SUBJECT_GROUP_ID,
      </if>
      <if test="memId != null" >
        mem_id,
      </if>
      <if test="memCode != null" >
        mem_code,
      </if>
      <if test="subjectGroupName != null" >
        SUBJECT_GROUP_NAME,
      </if>
      <if test="subjectGroupDesc != null" >
        SUBJECT_GROUP_DESC,
      </if>
      <if test="creationDate != null" >
        CREATION_DATE,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjectGroupId != null" >
        #{subjectGroupId,jdbcType=VARCHAR},
      </if>
      <if test="memId != null" >
        #{memId,jdbcType=VARCHAR},
      </if>
      <if test="memCode != null" >
        #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectGroupName != null" >
        #{subjectGroupName,jdbcType=VARCHAR},
      </if>
      <if test="subjectGroupDesc != null" >
        #{subjectGroupDesc,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mr.bom.dao.domain.SubjectGroup" >
    update bm_subject_group
    <set >
      <if test="memId != null" >
        mem_id = #{memId,jdbcType=VARCHAR},
      </if>
      <if test="memCode != null" >
        mem_code = #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="subjectGroupName != null" >
        SUBJECT_GROUP_NAME = #{subjectGroupName,jdbcType=VARCHAR},
      </if>
      <if test="subjectGroupDesc != null" >
        SUBJECT_GROUP_DESC = #{subjectGroupDesc,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifiedBy != null" >
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where SUBJECT_GROUP_ID = #{subjectGroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mr.bom.dao.domain.SubjectGroup" >
    update bm_subject_group
    set mem_id = #{memId,jdbcType=VARCHAR},
      mem_code = #{memCode,jdbcType=VARCHAR},
      SUBJECT_GROUP_NAME = #{subjectGroupName,jdbcType=VARCHAR},
      SUBJECT_GROUP_DESC = #{subjectGroupDesc,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where SUBJECT_GROUP_ID = #{subjectGroupId,jdbcType=VARCHAR}
  </update>
</mapper>